<html>
    <header>
        <style>
            p {
                text-align: justify;
            }
        </style>
    </header>

    <body>
        <div>
            <h3><ui-label value="i18n:many-widgets.step1"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.bulletScreenStep1"></ui-label></p>
        </div>
        <br />
        
        <div>
            <h3><ui-label value="i18n:many-widgets.step2"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.bulletScreenStep2"></ui-label></p>
        </div>
        <br />

        <div>
            <h3>API:</h3>
            <ui-code language="typescript">
                /*
                Set text shown on the screen.
                */
                setBullets(textArray: string[])

                /*
                Show the bullet screen.
                */
                show()

                /*
                Hide the bullet screen.
                */
                hide()

                /*
                Adjust the interval of spawning the bullets.
                */
                setSpawnInterval(interval: number)
                
                /*
                Adjust the number of bullets
                Attention: as Math.random() is used in the source code, 
                so the real number of bullets is actually no bigger than the number set by setBulletsNum().
                */
                setBulletsNum(num: number)

                /*
                filter or allow the repeat in each spawn
                */
                setAllowRepeated(status: boolean)
            </ui-code>
        </div>
    </body>
</html>
