<html>
    <header>
        <style>
            p {
                text-align: justify;
            }
        </style>
    </header>

    <body>
        <div>
            <h3><ui-label value="i18n:many-widgets.step1"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.tooltipStep1"></ui-label></p>
        </div>
        <br />
        
        <div>
            <h3><ui-label value="i18n:many-widgets.step2"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.tooltipStep2"></ui-label></p>
        </div>
        <br />

        <div>
            <h3><ui-label value="i18n:many-widgets.step3"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.tooltipStep3"></ui-label></p>
        </div>
        <br />

        <div>
            <h3>API:</h3>
            <ui-code language="typescript">
                /*
                Set the tooltip for a node.
                */
                setTooltip(targetNode: Node, str: string)

                /*
                Kill the tooltip of a node.
                */
                cancelTooltip(targetNode: Node)
            </ui-code>
        </div>
        <br />
    </body>
</html>
