<html>
    <header>
        <style>
            p {
                text-align: justify;
            }
        </style>
    </header>

    <body>
        <div>
            <h3><ui-label value="i18n:many-widgets.step1"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.beginnerGuideStep1"></ui-label></p>
        </div>
        <br />
        
        <div>
            <h3><ui-label value="i18n:many-widgets.step2"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.beginnerGuideStep2"></ui-label></p>
        </div>
        <br />

        <div>
            <h3><ui-label value="i18n:many-widgets.step3"></ui-label>:</h3>
            <p><ui-label value="i18n:many-widgets.beginnerGuideStep3"></ui-label></p>
        </div>
        <br />

        <div>
            <h3>API:</h3>
            <ui-code language="typescript">
                /*
                Set the instructions. Each click should has an instruction.
                */
                setInstructions(instructionsArray: string [])

                /*
                Set the nodes the beginners are to click.
                */
                setClickNodes(nodePathArray: string[])

                /*
                Show beginner guide.
                */
                show()

                /*
                Hide the guide.
                */
                hide()

                /*
                Check if the guide is over.
                */
                isGuideOver()
            </ui-code>
        </div>
    </body>
</html>
