.title {
    padding: 10px;
    color: #f90; 
    text-align: center;
}

#app {
    height: 620px;
    overflow: scroll;
}

.widget-style {
    border-radius: 2px;
    border-color: gray;
}

.top-area-title {
    font-weight: bold;
    font-size: 15px;
}

.top-area-btn {
    float: right;
}

.top-area-btn ui-button {
    color: white;
    background-color: tomato;
}


#version {
    position: fixed;
    bottom: 0px;
    left: 8px;
}

#settings-btn {
    position: fixed;
    right: 13px;
    top: 25px;
}